<?xml version="1.0" encoding="utf-8"?>
<plugin id="com.sealink.huoyuntong.cordova" version="0.0.1" 
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>HuoYunTongRoute</name>
    <description>Description</description>
    <js-module name="HuoYunTongRoute" src="www/HuoYunTongRoute.js">
        <clobbers target="cordova.plugins.HuoYunTongRoute"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="HuoYunTongRoute">
                <param name="android-package" value="com.sealink.huoyuntong.cordova.HuoYunTongRoute"/>
            </feature>
        </config-file>
        <source-file src="src/android/HuoYunTongRoute.java" target-dir="src/com/sealink/huoyuntong/cordova"/>
    </platform>
</plugin>
